.app {
  display: flex;
  justify-content: center;
  padding-top: 0.5em;
  font-family: sans-serif;
}

.container {
  width: 100%;
  max-width: 600px;
}

.wrapper {
  padding: 0.5em 0;
}

figcaption {
  padding-top: 1em;
  text-align: center;
}

a {
  color: #c35e74;
}
